/* @font-face {
  font-family: "이쁜폰트";
  src: url(../font/NanumSquareB.woff);
} */

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;

  /* font가 깨져보일시 transform: rotate(0.01deg) 돌려보자! */
}

div,
input,
textarea {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /*기본 행간 높이*/
}

/* animation tranform menu 2/2 */
@keyframes slide {
  0% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(20px) skewX(-30deg);
  }
  100% {
    transform: translateX(0px);
  }
}
.ani-navbar:hover p {
  animation-name: slide;
  animation-duration: 1s;
}
.ani-navbar:hover {
  transform: translateX(0px);
  text-align: center;
}
.ani-navbar {
  width: 200px;
  background-color: black;
  color: white;
  height: 100%;
  padding: 25px;
  position: fixed;
  z-index: 5;
  text-align: right;
  transition: all 1s;
  transform: translateX(-150px);
}

.main-background {
  width: 100%;
  height: 500px;

  /* 배경에 검은색 틴트 주기 (linear-gradient) */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 1px;

  /* 색감 필터 */
  /* filter: brightness(70%); */

  /* background-attachment: fixed; */
}

.main-title {
  color: white;
  font-size: 60px;
  text-align: center;

  /* margin collapse 현상시 부모태그에 padding 조금 적용 */
  margin-top: 100px;
}

.main-text {
  padding: 20px 50px 30px 50px;
  color: white;
  text-align: center;
}

.main-button {
  width: 100px;
  padding: 15px;
  color: #eee;
  background-color: royalblue;
  border: none;
  border-radius: 7px;
  display: block;
  margin: auto;
}

/* position: relative 포지션 좌표이동 내 원래 위치를 기준으로 이동
  top: 100px;
  bottom : 100px;
  left: 100px;
  right: 100px; */

/* position: absolut 내 부모 태그가 기준 
  relative를 가진 부모 기준*/

/* position을 쓰면 1. 좌표이동 가능  2. 공중에 붕 뜸 */

.sub-text {
  width: 80%;
  /* width는 content영역의 너비를 의미함 (중요!!) */
  max-width: 600px;

  /* (box-sizing: border-box;) padding, border를 전부 포함 content영역을 지정해줌 */
  box-sizing: border-box;

  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #d3dedc;
  position: relative;
  margin-top: -40px;

  /* z-index : 정수  를 주면 앞으로 올 우선순위 블록 정하기 */
}

/* pseudo Element(수도엘리먼트) */

/* .pseudo::before {
  content: "안녕";
  color: red;
  font-size: 30px;
} */

/* 
input[type="email"] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
} */

/* .input-file::file-selector-button {
  background-color: royalblue;
  border: none;
  padding: 10px;
  color: white;
}

.input-file::file-selector-button:hover {
  background: skyblue;
} */

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
  background-color: royalblue;
  border: none;
  color: white;
}

/* flex 실습 */

.flex-logo {
  display: flex;
  height: 60px;
  align-items: center;
  color: whitesmoke;
  background-color: black;
  padding: 10px;
}

.flex-item {
  font-size: 20px;
  margin-right: 20px;
}

.buy {
  font-size: 40px;
  font-weight: bold;
}

.menu {
  color: white;
  text-decoration: none;
}

.menu-produts {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-produts div {
  width: 20%;
  text-align: center;
}

.menu-produts i {
  background-color: royalblue;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  padding-top: 25px;
  box-sizing: border-box;
  color: white;
  margin-top: 20px;
}

.shop-bg {
  background-color: #eee;
  padding: 20px;
}

/* 애니메이션 만들기 */
/* step 1. 시작스타일 만들기
   step 2. 최종스타일 만들기
   step 3. 언제 최종스타일로 변하는지
   step 4. transition으로 애니메이션 */

.shop-relative {
  position: relative;
}

/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  font-size: 40px;
} */

.overlay-black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 100%;
  transition: all 1s;
  color: white;
  padding: 20px;
  font-size: 30px;
}

.overlay-wrap:hover .overlay-black {
  margin-top: 50%;
}

/* .overlay:hover {
  opacity: 1;
  height: 100%;
  transition: ease-in;
  transition: all 1s;
} */

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shop-container {
  display: flex;
  max-width: 90%;
  margin: auto;
}

.shop-item {
  width: 33%;
  padding: 15px;
}

.shop-item img {
  width: 100%;
  display: block;
}

/* transform 2월1일 */

.ani-text {
  text-align: center;
}

.ani-text:hover {
  animation-name: 왔다갔다;
  animation-duration: 1s;
}

/* ani-btn(흔들버튼) */

@keyframes shki {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ani-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  display: block;
  margin: 30px auto;
}

.ani-btn:hover {
  animation-name: shki;
  animation-duration: 0.5s;
}

/* 십자가 회전! */

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(45deg) scale(2);
  }
}

.ani-x {
  margin: 150px auto;
  text-align: center;
  font-size: 70px;
  width: 84px;
  cursor: pointer;
}

.ani-x:hover {
  animation-name: turn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* 좋은말할때 transform으로 사용하기 */
@keyframes 왔다갔다 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* media query 보통 css최하단 */

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 40px;
  }

  .menu-produts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu-produts div {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 30px;
  }

  .menu-produts {
    display: flex;
    flex-direction: column;
  }

  .menu-produts div {
    width: 50%;
  }
}
